* {
    font-family: "Poppins", sans-serif; 
}

/* Body Structure */
body {
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    overflow-y: hidden;
    background-color: antiquewhite;
}

/* Style the main tag */
/* Car - Product tag */

.product-tag {
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center; 
    color: #fff; 
}

/* Product title: Mercedez Benz */
.product-title {
    font-size: 2rem;
    font-weight: 700;
}

.product-card {
    background: #fff;
    display: grid; 
    grid-template-rows: 55% 45%;
    height: 100%; 
    width: 30%; 
    box-shadow: 10px 10px 25px 0px #3c3c3c; 
}

/* Car Image */
.product-image {
    background-image: url(https://i.postimg.cc/NGRJX8hr/black-benz.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 40px 10px;
    width: 28rem;  
    height: 66% 
}

.product-description {
    background-color: #62c256;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
}

.product-details {
    display: flex;
    flex-direction: column; 
    margin-top: -20px;
}

.product-image img {
    width: 28rem;
}

.stars {
    color: yellow;
    font-size: 1em;
}

/* Style in colors & Pricing elements */ 
.color-price {
    display: flex;
    align-items: center; 
    width: 70%; 
    justify-content: space-between;
    margin-top: -15px;
}

.color {
    display: flex;
    width: 6rem; 
    justify-content: space-between; 
    cursor: pointer;  
}

/* Individual colors */
.red {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.grey {
    background: grey;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.black {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* fix pricing font */
.pricing {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 210px;
    margin-top: -50px; 
}
  
.old-price {
    font-weight: 100;
}

/* Fixing the button fonts */
button {
    cursor: pointer; 
}

#button {
    background-color: #000; 
    padding: 10px 25px; 
    border: none;  
    border-radius: 5px;
    margin-top: -50px;  
}

button white-button {
    background-color: #fff; 

}

.button-text {
    color: #fff; 
    margin-left: 5px;
}

.feedback {
    display: none; 
    padding: 10px 25px; 
    border: none; 
    border-radius: 5px; 
}


